.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
data/
ignore/
results/
*~*.xlsx  # excel temp files
*.html
*.jpg
*.png
*.rdata
*.rds
*.xlsx
*.zip


# to stop tracking tracked files that have been added to gitignore:

# First:
# git rm -r --cached .
# git add .

# Then:
# git commit -am "Remove ignored files"

# Or as a one-liner:
# git rm -r --cached . && git add . && git commit -am "Remove ignored files"